<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="mailid" value="dheerajk7703@gmail.com">
  <parameter name="password" value="Admin@123">
  </parameter>
  <test thread-count="5" name="Test">

    <classes>
         <class name="TestNG.parameterpassing"/> 
    </classes>
  </test> <!-- Test -->
  </parameter>
</suite> <!-- Suite -->
 